<div class="background">

</div>
<div class="jumbotron">
  <h1 class="display-3">LoveScene</h1>
  <p class="lead">We all watch movies! We all chill!  Why not Netflix and Chill with the people who share your interests.  Start browsing today, or if you don't have an account, sign up for one easily.</p>
  <% if (!user) { %>
    <hr class="m-y-2">
    <div class="text-center">
        <a href="/login" class="btn btn-primary btn-lg active">Login</a>
        <a href="/signup" class="btn btn-default btn-lg active">Sign Up</a>
    </div>
  <% } %>
</div>

<div id="user-display" class="text-center">
  <h3>New Movie Lovers</h3>
  <hr>
</div>

<script type="text/javascript">
  var $display = $('#user-display')
  // function for displaying users in rows on the page
  function makeRows (source) {
    // concatenate a long string to append to the user-display div
    // start with declaring variables that will be reused
    var rowStart = '<div class="row">'
    var rowEnd = '</div>'
    var profileDisplay = ''
    // loop through the users that were returned in the ajax call
    source.forEach(function(u, i) {
      // start a new row at the beginning and at the beginning of the 5th iterations
      if (i%4==0){
        profileDisplay += rowStart
      }
      // for when we get avatars working correctly...
      var profilePic = '<img class="img-responsive" src="' + u.local.avatar + '"/>'
      var newUser = '<h4>' + u.local.name + '</h4>'
      // avatar or other user data will be added into profile variable below when available
      // col-md-3 used to fit 4 users per row and be responsive
      var link = '<a href="/users/' + u._id + '/otherprofile'+'" >' + profilePic + newUser + '</a>'
      var likedMovie = ''
      // gets the last movie that was liked by the user if user has liked anything
      if (u.local.movie.length) {
        var lastMovie = u.local.movie[u.local.movie.length-1]
        likedMovie = '<hr><h5>Recently Liked</h5><a href="/info/' + lastMovie.imdbID + '"><h6>' + lastMovie.Title + '</h6></a>'
      }
      var profile = '<div class="col-md-3 thumbnail">' + link + likedMovie + '</div>'
      // add the assembled profile to the row
      profileDisplay += profile
      // end the row if it is on the 4th iteration or the last iteration
      if ((i+1)%4==0 || i == source.length-1) {
        profileDisplay += rowEnd
      }
    })
    $display.append(profileDisplay)
  }

  // ajax call to get all users when page is loaded
  $.ajax({
    url: 'users',
    type: 'GET'
  })
  .done(makeRows)

</script>
